@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot") format("embedded-opentype"),
url("../fonts/icons.woff2") format("woff2"),
url("../fonts/icons.woff") format("woff"),
url("../fonts/icons.ttf") format("truetype"),
url("../fonts/icons.svg") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
    content: "\f101";
}
.icon-rectangle:before {
    content: "\f102";
}
.icon-shield:before {
    content: "\f103";
}