[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# RCS1075: Avoid empty catch clause that catches System.Exception.
dotnet_diagnostic.RCS1075.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# SA1000: new should be followed by a space
dotnet_diagnostic.SA1000.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none
